
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}


/* header parts */

header{
    z-index:4;
    position: absolute;
    width:100%;
    height:4rem;
    background: transparent;
}

header .brand h1{
    margin-top: 5px;
    color:black;
    margin-left: 25px;
    font-family: 'Balsamiq Sans', cursive;
}

header .right{
    margin-left:75rem;
    margin-top: -42px;
}

header .right button{
    background:transparent;
    border:none;
    border-radius: 10px;
    padding: 10px 10px ;
    font-weight:bold;
    letter-spacing: .2em;
    font-family: 'Balsamiq Sans', cursive;
}

header .right button:hover{
    background:white;
    cursor: pointer;
}


/*=================start of main part===================== */


main img{
    width:100%;
    margin-top: -18rem;
    z-index:2
}

/* start of the menu in teh main */

main .menu{
    width:35rem;
    height:1.6rem;
    background-color:white;
    margin-top: -600px;
    margin-left: 330px;
    z-index:6;
    text-align: center;
    padding: 15px 20px ;
}

main .menu a{
    background:#6d63fa;
    font-size:22px;
    text-decoration: none;
    color:white;
    font-weight:bold;
    margin:0px 10px ;
    border:1px solid #6d63fa;
    border-radius:10px;
    padding: 5px 5px;
    font-family: 'Balsamiq Sans', cursive;
}

main .menu a:hover{
    background:white;
    color:#6d63fa;
    border-color: white;
}

/* end of the menu in the main  */

main .form{
    width:45rem;
   background:rgb(255,255,255,0.4);
   position:fixed;
   margin-left: 300px;
   margin-top: 25px;
   text-align: center;
}

main .form button{
    background:#6d63fa;
    border:1px solid #6d63fa;
    color:white;
    width:200px;
    font-weight: bold;
    height:2rem;
    margin-top: 10px;
    text-transform: uppercase;
    cursor:pointer;
}


/* for the salarie form  */

main .form .salarie{
    display: block;
}

main .form .salarie input{
    height:2rem;
    width:30rem;
    margin-top: 10px;
    border-radius:10px;
    font-size: 15px;
    text-transform: uppercase;
}

main .form .salarie label{
    font-family: 'Balsamiq Sans', cursive;
}


main .form .salarie select{
    width:10rem;
    margin-top: 10px;
    border-radius:10px;
    font-size: 15px;
    text-transform: uppercase;
    background:white;
}

main .form .salarie select ~ label{
    margin-left:-160px;
}

/* end for the salarie form  */



/* =================end of the main part ================== */