<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <link rel="icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <title>CLIENT SALARIE</title>
    <!-- link for stylesheet -->
    <!-- <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/AddClient.css' ?>"> -->
    <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/AddCl.css' ?>">
</head>
<body>
    <header>
        <div class="brand"> 
            <h1>BANQUE DU PEUPLE <a href="index.php?code=cni">ACCUEIL</a> </h1>
        </div>
    </header>

    <main>
       
        <div class="form">
                <!-- form for adding Employee client  -->
                <form action="index.php" method="post">
                    <div class="salarie"> 
                        <h2>INFORMATIONS CLIENT SALARIE</h2>
                        <input type="text" name="nom" placeholder="nom" id="nom_salarie" autocomplete="off" required />
                        <input type="text" name="prenom" placeholder="prenom" id="prenom_salarie" autocomplete="off" required /><br/>
                        <input type="text" name="adresse" placeholder="Adresse Entreprise" id="addr_salarie" autocomplete="off" required />
                        <input type="text" name="telephone" placeholder="telephone" id="tele_salarie" autocomplete="off" required/><br/>
                        <input type="text" name="email" placeholder="email" id="email_salarie" autocomplete="off" required/>
                        <input type="text" name="matricule" placeholder="mat_client" id="mat_client" required/><br/>
                        <input type="text" name="profession" placeholder="profession" id="emploi_salarie" autocomplete="off" required/>
                        <input type="text" name="nom_Entreprise" placeholder="nom entreprise" id="NameEnter_salarie" autocomplete="off" required/><br/>
                        <input type="text" name="cni" placeholder="CNI" id="cni_salarie" autocomplete="off" required/>
                    </div>
                <h2>INFORMATIONS COMPTE DU CLIENT </h2>
                <label for="" style="color:white;">TYPE COMPTE </label>
                <select name="typeCompte" id="type_m" required>
                    <option value="">Choisir...</option>
                    <option value="Epargne">Compte Epargne</option>
                    <option value="Courant">Compte Courant</option>
                    <option value="Bloque">Compte Bloque</option>
                </select><br/>
                <input type="text" name="raison" id="raison_social" placeholder="raison social"/>
                <input type="number" name="cle-rib" id="cle_rib" min="1" max="97" placeholder="Cle RIB"/><br/>
                <input type="number" name="taux_agios" id="taux_agios" placeholder="taux agios" /> 
                <input type="number" name="montant" id="montant" min="10000" placeholder="montant" /> <br/>
                <input type="text" name="Nameentreprise" id="nom_Entreprise" placeholder="nom Entreprise" />
                <input type="text" name="adrEntreprise" id="Adresse_Entreprise" placeholder="Adresse Entreprise" /><br/>
                <input type="date" placeholder="date deblocage compte" id="date_deblocage" name="dateDebloc"/> 
                <input type="text" name="numAgence" id="numeroAgence" placeholder="numeroAgence" value="<?= $_SESSION['idAgence'] ;?>" readonly/><br/>
                <label for="" style="color:white;">DATE OUVERTURE COMPTE</label><input type="date" name="dateOuvert" placeholder="date ouverture" id="date_m" /> 
                <div id="choix">
                    <label for="" style="color:white;">FRAIS OUVERTURE</label><input  type="checkbox" name="souscription" value="souscri" id="frais"/>
                </div>
                <div id="choix2">
                    <label for="" style="color:white;">RETRAIT AGIOS TOUS LES 3 MOIS</label> <input type="checkbox" name="agiosOBG" value="agios" id="fraisR"/>
                </div>
                    <div class="button_for_s" id="button">
                        <button id="btn_Csalarie" name="btn" value="cSalarie">Valider</button>  <button>Annuler</button>
                    </div>
                <!-- end of all the  -->
            </form>
        </div>
    </main>


<script type="text/javascript" src="<?= SRC_STYLE_JS.'/AddClient.js'?>"></script>
</body>
</html>