<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST</title>
    <link rel="shortcut icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <link rel="icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <title>Ajout Client</title>
    <!-- link for stylesheet -->
    <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/AddCompte.css'?>">
</head>
<body>

    <header>
        <div class="brand">
            <h1>BANQUE DU PEUPLE</h1>
        </div>
        <div class="right">
            <button>en</button>
            <button>fr</button>
            <button id="return">Accueil</button>
        </div>
    </header>



    <main>
        <form action="">
             <!-- form for adding moral client -->

             <div class="Moral">
                <h2>INFORMATIONS CLIENT </h2>
                <input type="text" name="" placeholder="nom complet" id="prenom" readonly/>
                <input type="text" name="" placeholder="cni" id="idClient" readonly/>
                <input type="text" name="" placeholder="cni" id="cni" readonly/><br/>
            </div>


            <!-- 


 <label for="" style="color:white;">TYPE COMPTE </label>
                <select name="typeCompte" id="type_m" required>
                    <option value="">Choisir...</option>
                    <option value="Epargne">Compte Epargne</option>
                    <option value="Courant">Compte Courant</option>
                    <option value="Bloque">Compte Bloque</option>
                </select><br/>
                <input type="text" name="raison" id="raison_social" placeholder="raison social"/>
                <input type="number" name="cle-rib" id="cle_rib" min="1" max="97" placeholder="Cle RIB"/><br/>
                <input type="number" name="taux_agios" id="taux_agios" placeholder="taux agios" /> 
                <input type="number" name="montant" id="montant" min="10000" placeholder="montant" /> <br/>
                <input type="text" name="Nameentreprise" id="nom_Entreprise" placeholder="nom Entreprise" />
                <input type="text" name="adrEntreprise" id="Adresse_Entreprise" placeholder="Adresse Entreprise" /><br/>
                <input type="date" placeholder="date deblocage compte" min="<?= $_SESSION['date'];?>" id="date_deblocage" name="dateDebloc"/> 
                <input type="text" name="numAgence" id="numeroAgence" placeholder="numeroAgence" value="<?= $_SESSION['numAgence'] ;?>" readonly/><br/>
                <label for="" style="color:white;">DATE OUVERTURE COMPTE</label><input type="date" name="dateOuvert" placeholder="date ouverture" id="date_m" /> 
                <div id="choix">
                    <label for="" style="color:white;">FRAIS OUVERTURE</label><input  type="checkbox" name="souscription" value="souscri" id="frais"/>
                </div>
                <div id="choix2">
                    <label for="" style="color:white;">RETRAIT AGIOS TOUS LES 3 MOIS</label> <input type="checkbox" name="agiosOBG" value="agios" id="fraisR"/>
                </div>












             -->



        <div class="compte">
            <h2>INFORMATIONS COMPTE DU CLIENT </h2>
            <label for="">Type Compte </label>
            <select name="" id="type_m">
                <option value="">Choisir...</option>
                <option value="Epargne">Compte Epargne</option>
                <option value="Courant">Compte Courant</option>
                <option value="Bloque">Compte Bloque</option>
            </select><br/>
            <input type="text" name="" id="raison_social" placeholder="raison social" />
            <input type="number" name="" id="cle_rib" min="1" max="97" placeholder="Cle RIB"/><br/>
            <input type="number" name="" id="taux_agios" placeholder="taux agios" /> 
            <input type="text" name="" id="nom_Entreprise" placeholder="nom Entreprise" /><br/>
            <input type="text" name="" id="Adresse_Entreprise" placeholder="Adresse Entreprise" />
            <input type="text" name="" id="Frais_Compte" placeholder="frais compte" readonly/> <br/>
            <input type="text" name="" id="montant" placeholder="montant" /> 
            <input type="date" placeholder="date deblocage compte" id="date_deblocage" />  <br/>
            <input type="text" name="" id="numeroAgence" placeholder="numeroAgence" readonly/>
            <input type="text" name="" id="numCompte" placeholder="numeroCompte" readonly/>
            <input type="date" name="" placeholder="date ouverture" id="date_m" /><br/>
        </div>

        <!-- the button for all the differents forms i the project -->
        <div class="button_for_s" id="button">
            <button id="btn_create" >Valider</button>  <button>Annuler</button>
        </div>
        </form>
    </main>

    
    

<script src="<?= SRC_STYLE_JS.'/AddCompte.js'?>" type="text/javascript"></script>
</body>
</html>