<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <link rel="icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <title>Ajout Client</title>
    <!-- link for stylesheet -->
    <!-- <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/AddClient.css' ?>"> -->
    <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/cssNoSalarie.css' ?>">
</head>
<body>
    <header>
        <div class="brand"> 
            <h1>BANQUE DU PEUPLE</h1>
        </div>
    </header>

    <main>
       
        <div class="form">
                <form action="index.php" method="post">

                <!-- form for adding Indepndant client -->
                <div class="Independant">
                    <h2>INFORMATIONS CLIENT INDEPENDANT</h2>
                    <input type="text" name="nomi" placeholder="nom" id="nom_i" />
                    <input type="text" name="prenomi" placeholder="prenom" id="prenom_i" /><br/>
                    <input type="text" name="adressei" placeholder="adresse" id="adresse_i" />
                    <input type="text" name="teli" placeholder="telephone" id="telephone_i" /><br/>
                    <input type="text" name="emaili" placeholder="email" id="email_i" />
                    <input type="text" name="mati" placeholder="mat_client" id="mat_client" /><br/>
                    <input type="text" name="activitei" placeholder="activite" id="activite_i" /><br/>
                </div>

               <button name="btn" value="Cindependant">Valider</button><button>Annuler</button>
            </form>
        </div>
    </main>
    


<script type="text/javascript" src="<?= SRC_STYLE_JS.'/jsNoSalarie.js'?>"></script>
</body>
</html>