<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <link rel="icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <title>CLIENT MORAL</title>
    <!-- link for stylesheet -->
    <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/cssMoral.css' ?>">
</head>
<body>
    <header>
        <div class="brand"> 
            <h1>BANQUE DU PEUPLE</h1>
        </div>
    </header>
    <main>
        <div class="form">
                <!-- form for adding Employee client  -->
                <form action="index.php" method="post">
                <div class="Moral">
                        <h2>INFORMATIONS CLIENT MORAL</h2>
                    <input type="text" name="nom" placeholder="nom Entreprise" id="nom_enter_m" required autocomplete="off"/>
                    <input type="text" name="adresse" placeholder="adresse" id="adresse_m" required autocomplete="off"/><br/>
                    <input type="text" name="tel" placeholder="telephone Professionel" id="tel_m" required autocomplete="off"/>
                    <input type="text" name="email" placeholder="email entreprise" id="email_m" required autocomplete="off"/><br/>
                    <input type="text" name="matEntreprise" placeholder="matricule" value="<?= $matriculeMoral ?>" id="mat_client" required readonly/>
                    <input type="text" name="type" placeholder="type entreprise" id="type_enter_m" required autocomplete="off"/><br/>
                    <input type="text" name="activite" placeholder="activite Entreprise" id="activite_m" required autocomplete="off"/><br/>
                    <input type="number" name="ninea" placeholder="NINEA Entreprise" min="1" id="activite_m" required autocomplete="off"/><br/>
                </div>
                <!-- end of all the  -->
                <button name="btn" value="CMoral">Valider</button><button>Annuler</button>
            </form>
        </div>
    </main>
    
<script type="text/javascript" src="<?= SRC_STYLE_JS.'/jsMoral.js'?>"></script>
</body>
</html>