<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BANQUE PEUPLE</title>
    <link rel="shortcut icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <link rel="icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <!-- link for stylesheet -->
    <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/operations.css' ?>"/> 
</head>
<body>

    <h1>DEPOT RETRAIT VIREMENT</h1>

</body>
</html>