<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <link rel="icon" href="<?=SRC_IMG.'/favicon.ico'?>" type="image/x-icon"/>
    <link rel="stylesheet" href="<?= SRC_STYLE_CSS.'/verifyCNI.css'?>"/>
    <title>GestionClient</title>
</head>
<body>
    <header>
        <div class="brand">
            Banque du Peuple
        </div>
    </header>
    <main>
        
        <input type="text" value="Matricule : <?= $_SESSION['matricule'] ?> " placeholder="" id="caissiere" readonly/>
        <a href="index.php?code=deconnex" >Deconnexion</a><br>
        <input type="text" value="Nom Complet : <?= $_SESSION['nom_complet']?> " placeholder="" id="caissiere" readonly/><br>
        <form action="" id="formGest">
            <input type="text" placeholder="MATRICULE CLIENT" id="cni" autocomplete="off"/> <br>
            <button id="verClient">Verifier</button>
        </form>
       
    </main>
    <div class="message">
        <h1>Le Client n'est Pas dans le Systeme</h1>
        <button id="createClient">Creer le Client </button> <button id="annuler">Annuler</button>
    </div> <br/><br/><br/>
    <a href="index.php?code=newCli" id="add">Client Salarie </a> <br>
    <a href="index.php?code=CliMoral" id="add">Client Moral </a> <br>
    <a href="index.php?code=CliNoSalarie" id="add">Client Independant </a>


<script src="<?= SRC_STYLE_JS.'/verifyCNI.js'?>" type="text/javascript"></script>
</body>
</html>