
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

:root{
    --color:#646677;
}

*{
    background:#414150;
    text-align: center;
}

/* start header */

header{
    align-items: center;
    display:flex;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 12px 12px;
    background: transparent;
}

header .brand{
    background:transparent;
    color:white;
    font-weight:bold;
    margin-left: 100px;
    font-family: 'Noto Sans JP', sans-serif;
}

header .menu{
    margin-left: 1000px;
    margin-top: -17px;
    background:transparent
}

header .menu a{
    color:white;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    background:transparent;
    margin:10px 10px;
    font-weight:bold;
}

/* end header */

/* start span */

.line{
    margin-top: 45px;
    width:83%;
    border: 1px solid var(--color);
}

/* end span */

/* main start */

main{
    background:transparent;
}

main h1{
    color:white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:40px;
    margin-top: 105px;
    letter-spacing: 2px;
    background:transparent;
}

main .categorie{
    align-items:center;
    display:flex;
    flex-wrap: wrap;
    background:transparent;
    margin-top: 45px;
}

main .categorie .col-categorie i,h3,p{
    background:transparent;
}

main .categorie .col-categorie{
    flex-basis: 32%;
    background:transparent;
    padding-left: 12px 12px;
}

main .categorie .col-categorie i{
    color:#64ad88;
    font-size: 47px;
}

main .categorie .col-categorie h3{
    color:white;
}

main .categorie .col-categorie p{
    color:#9e989a;
    font-weight: bold;
}

main .categorie .middle{
    border-left: 2px solid var(--color);
    border-right: 2px solid var(--color);
}

main  button{
    margin-top: 80px;
    text-align: center;
    text-transform: uppercase;
    color:#64ad88;
    background:transparent;
    width:220px;
    border: 3px solid #64ad88;
    padding: 12px 12px;
    border-radius: 20px;
}


/* end main */
